body {
    background-color: rgb(184, 184, 184) !important;
}

.App {
    display: grid;
    place-items: center;
    height: 50vh;

    
    
    .title {
        
        font-size: 72px;
        font-family: "Comic Sans MS", cursive, sans-serif;
        
    }

    .joinRoom {
        padding: 4px;
        font-size: 16px;
        width: 380px;
        font-family: sans-serif;
    }

    .submit {
        padding: 4px;
        font-size: 16px;
        font-family: sans-serif;
    }
    
    .btn-container {
        margin-top: 10px;

        .btn {
            margin-left: 50px;
            margin-top: 25px;    
            background-color: transparent;
            border-radius: 4px;
            color: rgb(24, 24, 24);
            text-align: center;
            font-size: 11px;
            font-weight: 600;
            text-decoration: none;
            cursor: pointer;
            border: 1px solid rgb(37, 37, 37);
            height: 38px;
            line-height: 38px;
            padding: 0 30px;
            letter-spacing: .1rem;
            text-transform: uppercase;
            white-space: nowrap;
            box-sizing: border-box;

            &:hover {
                background-color: rgb(170, 165, 165);
                color: rgb(0, 98, 128);
            }
        }
    }
    
}


